*{
    margin:0
}
.main-box{
    display:flex;
    flex-direction: column;

    

}
.first-box{
    display:flex;
    background-color:#1F2937;
    color: white;
    height: 500px;
}
.second-box{
    display:flex;
    background-color: aliceblue;
    height: 250px;
}
.third-box{
    display:flex;
    background-color: grey;
    height: 250px;
}   
.footer{
    display:flex;
    background-color:#1F2937;
    height: 50px;
    color:white;
    justify-content: center;
    align-items: center;
}
.intro{
    display:flex;
    margin: 30px 75px;
    flex-direction: column;

    width: 100%;
}
.header{
    display:flex;
    justify-content:space-between;
    padding:0px;
    width: 100%;
}
.right-header,.left-header{
    display: flex;
    height:75px;
    align-items: center;
}
.right-header p{
    padding:10px;
}
.left-header{
    font-size: 30px;
    font-weight: 1000;

}
.description{
    display:flex;

    height: 100%;

}
.text{

width:100%;
display:flex;
flex-direction: column;
justify-content:center;
}
h1{
    font-size: 30px;
    margin-bottom:5px;
}
button{
    width:100px;
    color:white;
    font-weight: 600;
    padding:8px;
    border-radius: 3px;
    border:blue;
    margin:5px;
}

.image{
width:100%;

display: flex;
align-items: center;
justify-content: center;
}
img{
    width:400px;
    height:200px;
}